.manage-subscriber-container {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 24px;
}
  
.page-title {
    font-weight: 600;
    color: #111111;
    margin-top: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30.24px;
    letter-spacing: 0px;
    margin-bottom: 28px;
}
  
 
.subscriber-card {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}
.heigg{
    height: 48px !important;
  }  
.subscriber-list-title {
    font-size: 21px;
    font-weight: 600;
    color: #333333;
    padding: 0px 20px 20px;
    border-bottom: 1px solid #e0e0e0; 
}
  
 
.table-container {
    overflow-x: auto;
}

.subscriber-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;   
}
  
.subscriber-table th, 
.subscriber-table td {
    padding: 5px 20px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}


 

 
.status-active {
    color: #10b981;
    font-weight: 500;
}

.status-pending {
    color: #f59e0b;
    font-weight: 500;
}

.status-inactive {
    color: #ef4444;
    font-weight: 500;
}
  
 
.subscriber-table th {
    
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    border-bottom: 1px solid #e5e7eb;
}
  
.subscriber-table td {
     
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #e5e7eb;
    color: black;
}
  
 
.toggle-switch {
    position: relative;
    display: block;  
    width: 29px;
    height: 17px;
    margin: 0 6px;
}
  
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #10b981;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}
  
.toggle-switch input:checked + .slider {
    background-color: #F36643;
}
  
.toggle-switch input:checked + .slider:before {
    transform: translateX(12px);
}
  
.slider.round {
    border-radius: 20px;
}
  
.slider.round:before {
    border-radius: 50%;
}
 
 
.icon-buttonss {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 0px 8px;
   
  }
.icon-buttonss img {
    width: 20px;
    height: 20px;
    display: block;
}
  
.view-button img,
.edit-button img,
.delete-buttonss img {
    width: 20px;
    height: 20px;
    
}

.icon-button:hover {
    opacity: 0.8;
}
  
.view-button:hover img {
    filter: brightness(0.8);
}

.edit-button:hover img {
    filter: brightness(0.8);
}

.delete-button:hover img {
    filter: brightness(0.8);
}
  
 
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 14px;
}
  
.pagination-info {
    color: #6b7280;
}
  
.pagination-controls {
    display: flex;
    gap: 8px;
}
  
.pagination-button {
    padding: 4px 12px;
    border-radius: 6px;
    background-color: #EBEBEB;
    cursor: pointer;
    font-size: 14px;
    border: none;
}
  
.pagination-button:hover {
    background-color: #EBEBEB;
}
  
.pagination-button.active {
    background-color: #3A4DE9;
    color: #ffffff;
}

.subscriber-table th.edit-t {
    text-align: center;
}

.subscriber-table th.view-t{
    text-align: center;
}

.subscriber-table th.delete-t{
    text-align: center;
}
td.delee .delete-button {
    margin: 0 auto;
    display: block;
}
td.vieew .view-button {
    margin: 0 auto;
    display: block;
}
td.eddit .edit-button {
    margin: 0 auto;
    display: block;
}