.subscription-wrapper *,
.subscription-wrapper *::before,
.subscription-wrapper *::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

.subscription-wrapper {
  margin-bottom: 8px;
  padding: 20px;
}

.subscription-title {
  font-weight: 600;
  color: #111111;
  margin-top: 24px;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 0px;
  margin-bottom: 28px;
}

.form-wrapperss {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
}

.section-title {
    color: #111111;
     font-weight: 600;
     font-size: 21px;
     line-height: 26.46px;
     letter-spacing: 0px;
     
   }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 15px;
}

.form-group {
  flex: 0 0 50%;
  padding: 0 10px;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #111111;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  background-color: #fff;
  width: 100%;
  height: 49px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
}

input::placeholder {
  color: #999999;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.cancels-button, 
.submits-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  min-width: 276px;
  height: 49px;
}

.cancels-button {
  background-color: #9e9e9e;
  color: white;
}

.submits-button {
  background-color: #3A4DE9;
  color: white;
}

@media (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
  }
}