.subscriptions-container {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 24px;
  }
  
  .subscriptions-title {
    font-weight: 600;
    color: #111111;
    margin-top: 24px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
  }
  
  
  .plan-list-card {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
  }
.plan-list {
    font-size: 21px;
    font-weight: 600;
    color: #333333;
    padding: 0px 20px 20px;
    border-bottom: 1px solid #e0e0e0; 
}
 
  .marrg{
  
    margin-bottom: 0px !important;
  } 
  .plan-table-container {
    overflow-x: auto;
  }
  .heigg{
    height: 48px !important;
  }
  .plan-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  
  }
  
 
 
  .plan-table th, 
  .plan-table td {
    padding: 5px 20px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
 
  .plan-table th {
 
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .plan-table td {
 
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #e5e7eb;
    color: black;
  }
  
 
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: #666;
    transition: color 0.2s;
   
  }
  
  .edit-action:hover {
    color: #3A4DE9;
  }
  
  .delete-action:hover {
    color: #F36643;
  }
  
 
  .subscriptions-container {
    background-color: #ffffff;
    min-height: 100vh;
    padding: 24px;
  }
  
  .subscriptions-title {
    font-weight: 600;
    color: #111111;
    margin-top: 24px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
  }
  
 
  .plan-list-card {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
  }
  
  .plan-list-heading {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
   
 
  .plan-table-container {
    overflow-x: auto;
  }
  
  .plan-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  
  }
  
 
  .plan-table th:nth-child(1),
  .plan-table td:nth-child(1) {
    width: 4%; 
  }
  
  .plan-table th:nth-child(2),
  .plan-table td:nth-child(2) {
    width: 95%; 
  }
  
  .plan-table th:nth-child(3),
  .plan-table td:nth-child(3) {
    width: 20%; 
  }
  
  .plan-table th:nth-child(4),
  .plan-table td:nth-child(4) {
    width: 10%; 
  }
  
  .plan-table th:nth-child(5),
  .plan-table td:nth-child(5) {
    width: 6.5%;  
  }
  
  .plan-table th, 
  .plan-table td {
    padding: 12px 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
 
  .plan-table th {
    padding: 12px 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .plan-table td {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #e5e7eb;
    color: black;
  }
  
 
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    color: #666;
    transition: color 0.2s;
  }
  
  .edit-action:hover {
    color: #3A4DE9;
  }
  
  .delete-action:hover {
    color: #F36643;
  }
  
 
  .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 14px;
  }
  
  .entries-info {
    color: #6b7280;
  }
  
  .pagination-buttons {
    display: flex;
    gap: 8px;
  }
  
 
  .page-nav-button, 
  .page-number-button {
    padding: 4px 12px;
    border-radius: 6px;
    background-color: #EBEBEB;
    cursor: pointer;
    font-size: 14px;
    border: none;
    color: #6b7280 
  }
  
  .page-nav-button:hover,
  .page-number-button:hover {
    background-color: #EBEBEB;  
  }
  
  .page-number-button.active-page {
    background-color: #3A4DE9;
    color: white; 
  }
  
 
  .page-nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

 
.plan-table th.edit-t{
    text-align: center;
}

.plan-table th.delete-t{
    text-align: center;
}

td.eddt .edit-action {
    margin: 0 auto;
    display: block;
}
td.delee .delete-action {
    margin: 0 auto;
    display: block;
}